@import "colors.scss";
@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  @include header-styles;
}
.logo-container {
  @include logo-container-styles;
}

.nav-links {
  @include nav-links-styles;
}

.nav-bar {
  @include nav-bar-styles;
}

@import "dropdown-menu.scss";

.main {
  min-height: 95vh;
  padding-top: 7vh;
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  background-image: linear-gradient($hover-button-color, $primary-color);
}

.user-subinfo {
  width: 100%;
}

.user-info {
  word-wrap: break-word;
  margin: 2%;
  padding: 2%;
  border: 2px solid $primary-color;
  background-color: $secondary-color;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .username {
    font-size: 24px;
    margin: 0;
  }

  .user-details {
    display: none;
  }

  .view-info {
    display: flex;
    margin-top: 1%;
    cursor: pointer;
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }

  .info-toggle {
    display: none;

    &:checked ~ .user-details {
      display: block;
    }
  }

  .delete-user-block {
    width: 40%;
  }
  .delete-user {
    margin-top: 1%;
    margin-right: 1%;
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    padding: 8%;
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.user-details {
  font-size: 15px;
  display: none;
  background-color: $secondary-color;
  color: black;
  border-radius: 10px;
  margin-top: 1%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}

.footer {
  @include footer-styles;
}

@media screen and (max-width: 576px) {
  .logo-font {
    font-size: 15px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .username {
    font-size: 1px;
  }
  .user-details {
    font-size: 12px;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (min-width: 992px) {
}
