@import "colors.scss";

.account-container {
  padding-top: 7vh;
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  background-image: linear-gradient($hover-button-color, $primary-color);
}

.user-section {
  height: 95vh;
  padding-top: 4%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-info {
  margin-bottom: 10%;
  width: 30%;
  flex-direction: column;
  padding: 2%;
  border: 3px solid $primary-color;
  border-radius: 40px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.username {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
  margin: 0;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;

  .user-details {
    margin: 0.5em 0;
  }
}

.user-actions {
  display: flex;
  margin-left: 0;
  flex-direction: column;
  margin: 0;
  padding-right: 2%;
}
.edit-user-link {
  color: $primary-color;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $hover-button-color;
  }
}

.sign-out,
.delete-user {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 1em;
  width: 100%;

  &:hover {
    background-color: $hover-button-color;
  }
}

.delete-user {
  margin-top: 20%;
  margin-bottom: 20%;
}

.tip {
  margin-top: 3%;
  color: $time-color;
}

.orders-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}

.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.orders-heading {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: $secondary-color;
  text-align: center;
}

.order {
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 4%;
  border-radius: 20px;
  background-color: $secondary-color;
  box-shadow: 0 0 5px $shadow-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.order-details {
  display: flex;
  flex-direction: column;
}
.classroom-name-account {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.capacity {
  font-size: 18px;
  margin-bottom: 10px;
}

.time {
  font-size: 16px;
  color: $time-color;
}

.cancel-order-button {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: $hover-button-color;
  }
}


@media screen and (max-width: 576px) {
  .logo-font {
    font-size: 15px;
  }
  .user-info {
    width: 80%;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .user-info {
    width: 50%;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .user-info {
    width: 40%;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 992px) {
}
